@charset "utf-8";
// 文本对齐
$wordPos:left center right ;
@each $pos in $wordPos {
    .text-#{$pos} {
        text-align: $pos;
    }
}

// 文本缩进

// 单行
@mixin text-overflow{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

// 多行
@mixin text-overflow-line($i:2) {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp:$i;
}
